/*
 * HAPI Repository API
 * API for retrieving objects from HAPI repository
 *
 * OpenAPI spec version: 2
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.Allotment;
import io.swagger.client.model.Error;
import io.swagger.client.model.InlineResponse200;
import io.swagger.client.model.SearchRequest;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class AllotmentApi {
    private ApiClient apiClient;

    public AllotmentApi() {
        this(Configuration.getDefaultApiClient());
    }

    public AllotmentApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for getAllotment
     * @param propertyCode Property code as designated in the PMS (required)
     * @param id Identifier of allotment record in the external system (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call getAllotmentCall(String propertyCode, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/allotments/{propertyCode}/{id}"
            .replaceAll("\\{" + "propertyCode" + "\\}", apiClient.escapeString(propertyCode.toString()))
            .replaceAll("\\{" + "id" + "\\}", apiClient.escapeString(id.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Bearer" };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call getAllotmentValidateBeforeCall(String propertyCode, String id, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'propertyCode' is set
        if (propertyCode == null) {
            throw new ApiException("Missing the required parameter 'propertyCode' when calling getAllotment(Async)");
        }
        
        // verify the required parameter 'id' is set
        if (id == null) {
            throw new ApiException("Missing the required parameter 'id' when calling getAllotment(Async)");
        }
        

        com.squareup.okhttp.Call call = getAllotmentCall(propertyCode, id, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Get allotments of specified hotel that defined by chainCode / propertyCode (HAPI internal property identifier) and by blockCode and effectiveDate (Allotment external identifier)
     * 
     * @param propertyCode Property code as designated in the PMS (required)
     * @param id Identifier of allotment record in the external system (required)
     * @return Allotment
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public Allotment getAllotment(String propertyCode, String id) throws ApiException {
        ApiResponse<Allotment> resp = getAllotmentWithHttpInfo(propertyCode, id);
        return resp.getData();
    }

    /**
     * Get allotments of specified hotel that defined by chainCode / propertyCode (HAPI internal property identifier) and by blockCode and effectiveDate (Allotment external identifier)
     * 
     * @param propertyCode Property code as designated in the PMS (required)
     * @param id Identifier of allotment record in the external system (required)
     * @return ApiResponse&lt;Allotment&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Allotment> getAllotmentWithHttpInfo(String propertyCode, String id) throws ApiException {
        com.squareup.okhttp.Call call = getAllotmentValidateBeforeCall(propertyCode, id, null, null);
        Type localVarReturnType = new TypeToken<Allotment>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get allotments of specified hotel that defined by chainCode / propertyCode (HAPI internal property identifier) and by blockCode and effectiveDate (Allotment external identifier) (asynchronously)
     * 
     * @param propertyCode Property code as designated in the PMS (required)
     * @param id Identifier of allotment record in the external system (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call getAllotmentAsync(String propertyCode, String id, final ApiCallback<Allotment> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = getAllotmentValidateBeforeCall(propertyCode, id, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<Allotment>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for searchAllotments
     * @param strategy Type of the search strategy. Could be range or update.&lt;br&gt;In a case of range strategy records will be searched by their effectiveDate / expireDate instead of searching by updated field in a case of update strategy (required)
     * @param searchRequest  (required)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call searchAllotmentsCall(String strategy, SearchRequest searchRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = searchRequest;

        // create path and map variables
        String localVarPath = "/allotments/search/{strategy}"
            .replaceAll("\\{" + "strategy" + "\\}", apiClient.escapeString(strategy.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] { "Bearer" };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call searchAllotmentsValidateBeforeCall(String strategy, SearchRequest searchRequest, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'strategy' is set
        if (strategy == null) {
            throw new ApiException("Missing the required parameter 'strategy' when calling searchAllotments(Async)");
        }
        
        // verify the required parameter 'searchRequest' is set
        if (searchRequest == null) {
            throw new ApiException("Missing the required parameter 'searchRequest' when calling searchAllotments(Async)");
        }
        

        com.squareup.okhttp.Call call = searchAllotmentsCall(strategy, searchRequest, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Search allotments by date range. Paging is included. Maximum value of returned allotments is 1000
     * 
     * @param strategy Type of the search strategy. Could be range or update.&lt;br&gt;In a case of range strategy records will be searched by their effectiveDate / expireDate instead of searching by updated field in a case of update strategy (required)
     * @param searchRequest  (required)
     * @return InlineResponse200
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public InlineResponse200 searchAllotments(String strategy, SearchRequest searchRequest) throws ApiException {
        ApiResponse<InlineResponse200> resp = searchAllotmentsWithHttpInfo(strategy, searchRequest);
        return resp.getData();
    }

    /**
     * Search allotments by date range. Paging is included. Maximum value of returned allotments is 1000
     * 
     * @param strategy Type of the search strategy. Could be range or update.&lt;br&gt;In a case of range strategy records will be searched by their effectiveDate / expireDate instead of searching by updated field in a case of update strategy (required)
     * @param searchRequest  (required)
     * @return ApiResponse&lt;InlineResponse200&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<InlineResponse200> searchAllotmentsWithHttpInfo(String strategy, SearchRequest searchRequest) throws ApiException {
        com.squareup.okhttp.Call call = searchAllotmentsValidateBeforeCall(strategy, searchRequest, null, null);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Search allotments by date range. Paging is included. Maximum value of returned allotments is 1000 (asynchronously)
     * 
     * @param strategy Type of the search strategy. Could be range or update.&lt;br&gt;In a case of range strategy records will be searched by their effectiveDate / expireDate instead of searching by updated field in a case of update strategy (required)
     * @param searchRequest  (required)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call searchAllotmentsAsync(String strategy, SearchRequest searchRequest, final ApiCallback<InlineResponse200> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = searchAllotmentsValidateBeforeCall(strategy, searchRequest, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<InlineResponse200>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
